<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="user_nav">
        <% if current_user %>
          <h4><%= t ".welcome" %>, <%= current_user.name %> | 
          <%= link_to t(".signout"), signout_path, method: :delete %></h4>
        <% else %>
          <%= link_to t(".sign_in_github"), "/auth/github" %>
        <% end %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
      <div id="site_generator"><%= t ".author" %></div>
    </div>
  </body>
</html>
